# Ignore everything except Python source files and this .gitignore
*

# Keep this file
!.gitignore

# Allow files
!predictor.py
!base_distribution.py
!app.py
!config.py
!base_speed_distribution.json
!README.md
!requirements.txt
!example
!example/*

!data_source.py
!domain_models.py
!prediction_engine.py
!math_models.py
!visualizer.py
!main_pipeline.py
